/* *{
    border: 1px solid black;
} */

.content{
    /* margin-left:30%; */
    /* margin-right:30%; */
    
    height: 720px;
}

.one{
    /* margin-left: 20%;
    margin-right: 20%; */
    height:25%;
    background-color: #1F2937;
    color: #F9FaF8;
    font:1rem bold;
}

.one-a{

}

.one-b{

}

.button{
    background-color: #3882f6;
}

.two{
    /* margin-left: 20%;
    margin-right: 20%; */
    display: flex;
    height:25%;
    background-color: #f9faf8;
    justify-content: space-around;
    align-items: center;
}

.three{
    /* margin-left: 20%;
    margin-right: 20%; */
    display: flex;
    height:25%;
    background-color: #e5e7eb;
    color: #1f2937;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four{
    /* margin-left: 20%;
    margin-right: 20%; */
    display: flex;
    background-color: #f9faf8;
    height:25%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.call-to-action{
    display:flex;
    background-color: #3882f6;
    width: 75%;
    height: 35%;
    border-radius: 5px;
    align-self: center;
}

footer{
    background-color: #1F2937;
    height:15%;
    width:100%;
}

.piz{
    border-radius: 5%;
    border: 5px solid blue;
    height:100px;
    width:100px;
}

.flexwrap{
    flex-direction: column;
    flex:1;
    align-items: stretch;
    justify-content: center;
}

header {
    background-color: #1F2937;
    flex-basis: auto;
    /* margin-left: 20%;
    margin-right: 20%; */
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
}

a{
    margin-top:15%;
}

.noflex {
    display:block;
}